<div *ngIf="select">
  <div class="container" style="margin-top: 10px;">
    <div class="d-flex justify-content-center">
      <div *ngIf="loading" class="spinner-border text-info" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    <ul class="list-group" style="list-style-type:none;">
      <li *ngFor="let post of posts">
        <mat-card class="mat-card">
          <mat-card-header class="mat-card-header">
            <div mat-card-avatar class="example-header-image" 
            style="background-image:url('https://st3.depositphotos.com/1156795/34887/v/600/depositphotos_348878322-stock-illustration-profile-placeholder-image-gray-silhouette.jpg')"></div>
            <mat-card-title><a [routerLink]="['/profile',post.user.id]" style="color: black;">{{ post.user.firstname }} {{ post.user.lastname
                }}</a></mat-card-title>
            <mat-card-subtitle>{{ dateFormat(post.post.editdate) }}</mat-card-subtitle>
            <div style="display: flex; margin-left: auto;">
              <button *ngIf="controlButton(post.user.id)" (click)="onDelete(post.post)">
                <mat-icon>delete_forever</mat-icon>
              </button>
            </div>
          </mat-card-header>
          <p>
            {{ post.post.category=="b"? post.book.title: post.post.category=="m"? post.music.title: post.movie.title }}-
            {{ post.post.category=="b"? post.book.author: post.post.category=="m"? post.music.singer: post.movie.year }} - 
            {{post.post.category=="b"?"read.":post.post.category=="m"?"listened.": "watched." }}
          </p>
          <mat-card-content class="example-card-content">
            <p>
              {{ post.post.comment }}
            </p>
          </mat-card-content>
          <mat-card-actions style="display:flex;">
            <p style="font-weight: 600; font-size: x-large; background-color: white;">
              {{post.post.point}}
              <mat-icon>stars</mat-icon>
            </p>
          </mat-card-actions>
        </mat-card>
        <br>
        <br>
      </li>
    </ul>
  </div>
</div>