<div class="container" style="margin-top: 10px;">
    <mat-card class="mat-card">
        <mat-card-header class="mat-card-header">
            <div mat-card-avatar class="example-header-image" 
            style="background-image:url('https://st3.depositphotos.com/1156795/34887/v/600/depositphotos_348878322-stock-illustration-profile-placeholder-image-gray-silhouette.jpg')"></div>
            <mat-card-title>{{ user.firstname }} {{ user.lastname}}</mat-card-title>
            <mat-card-subtitle>
                <ul>
                    <li>{{ user.gender==true?"female":"male" }}</li>
                    <li>{{ dateFormat(user.birthday) }}</li>
                </ul><a href="">Followers</a> <a href="" style="padding-left: 10px;">Following</a>
            </mat-card-subtitle>
            <div style="display: flex; margin-left: auto;">
                <button *ngIf="cntrlButton()" style="margin-bottom: auto;" (click)="onFollow(user.id)">{{buttonControl==true?"Unfollow":"Follow"}}</button>
                <a href=""><mat-icon>settings</mat-icon></a>
              </div>
        </mat-card-header>
        <mat-card-actions style="display:flex;">
        </mat-card-actions>
    </mat-card>
</div>
<app-post [select]="select" [userId]="userId"></app-post>