<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="register.component.css">
  </head>
  <body>
        <form class="box" action="register.component.css" method="post">
            <h1>Register</h1>
            <input type="text" name="email" placeholder="Email">
            <input type="password" name="password" placeholder="Password">
            <input type="text" name="firstName" placeholder="First Name">
            <input type="text" name="lastName" placeholder="Last Name">
            <select name="gender">
                <option value="Female">Female</option>
                <option value="Male">Male</option>
            </select>
            <input type="date" id="birthday" name="birthday">
            <input type="submit" name="register" value="Register">
            <a routerLink="/register">Cancel</a>
        </form>
  </body>
</html>
